.TodoList {
  list-style: none;
  width: 700px;
  height: 600px;
  margin: auto;
  background-color: aliceblue;
  border-radius: 20px;
  overflow-y: scroll;
  padding-bottom: 30px;
  border: 1px solid black;
}

.TodoList::-webkit-scrollbar {
  display: none;
}

.todoBox {
  width: 650px;
  margin: auto;
  background-color: rgb(162, 208, 249);
  border-radius: 20px;
}

.title {
  margin: 10px;
}

.done {
  border: none;
  border-radius: 20px;
  background-color: rgb(131, 255, 127);
  color: #fff;
  margin: 20px;
  font-size: 20px;
}

.done:hover {
  transform: scale(1.2);
}

.text {
  padding: 50px;
}

.delBtn {
  border: none;
  border-radius: 20px;
  background-color: rgb(248, 90, 90);
  color: #fff;
  margin: 30px;
  font-size: 20px;
}

.delBtn:hover {
  transform: scale(1.2);
}
