.Todos {
  width: 800px;
  height: 1500px;
  background-color: rgb(149, 202, 248);
  text-align: center;
  margin: 0 auto;
  border-radius: 20px;
}

.header {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
