.TodoInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputText {
  width: 600px;
  height: 15px;
  padding: 7px;
  margin: 10px;
}

.submitBtn {
  border: none;
  border-radius: 10px;
  background-color: rgb(132, 149, 250);
  color: white;
  margin: 10px;
}

.submitBtn:hover {
  transform: scale(1.2);
}
